.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/plugins/*/
!.obsidian/plugins/*/manifest.json
!.obsidian/plugins/*/main.js
!.obsidian/plugins/*/styles.css
.DS_Store
Thumbs.db
